@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;600&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/Lovepik_com-400083221-digital-high-tech-art.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.glassefect{
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
}

.nav-item a:hover{
    background-color: #ffffff20;
}